body{
	font-family: 'Raleway', sans-serif;
}

.popup{
    position: fixed;
    height: 100%;
    width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.150);
}

.body_popup{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    min-height: 100%;
    padding: 20px;
    min-width: 250px;
    transition: all 0.8s ease 0s;
    background-color: rgba(255, 255, 255, 0.150);
}

.popupRight{
    background: linear-gradient(to bottom, rgba(0, 251, 0, 0.616), #008D00FF);
    width: 450px;
    padding: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}
.popupWrong{
    background: linear-gradient(to bottom, rgba(251, 17, 0, 0.616), rgb(141, 0, 0));
    width: 500px;
    padding: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

.modals_header, .textSend{
    display: flex;
    justify-content: center;
	background-color: inherit;
}
.textSend{
	font-weight: 500;
}


