*{
	margin: 0; padding: 0;
	box-sizing: border-box;
	background-color: #F1FAEEFF;
}

body{
	min-width: 345px;
}

.inner{
	width: 800px;
	margin: 0 auto;
}

header{
	font-size: 17px;
	display: flex;
	justify-content: center;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	width: 600px;
}

.wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}
.wrapper__el{
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	align-items: center;
}
.draw-img, .clear-img{
	cursor: pointer;
	margin-bottom: 5px;
}
.clearAll-btn{
	border: 1px solid rgba(0, 0, 0, 0.767);
	border-radius: 2px;
	background-color: #0000002e;
	color: rgba(0, 0, 0, 0.76);
	font-size: 9px;
	padding: 2px;
	cursor: pointer;
}
.canvas{
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 42px;
}

form{
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 30px;
}

.body_table{
	display: flex;
	justify-content: center;
	align-items: center;
}

table{
	width: max-content;
	border-collapse: collapse;
}

th{
	border: 1px solid black;
}

.first_col{width: 50px;}
.t_1-1{background-color: #808080FF;}
.input_char{background-color: #F8CBADFF;}

.second_row :not(:first-child){
	width: 70px;
	font-weight: lighter;
	font-size: 14px;
} 

.first_row :nth-child(n+2){
	background-color: #D9D9D9FF;
}
.states :nth-child(n+1){
	background-color:#ACB9CA;
}
.second_row :nth-child(n+2){
	background-color: #E6FFFAFF;
}

.second_row :hover{
	background-color: #ACFFFFFF;
	transition: all 0.2s linear 0s;
}
.second_row th:hover:first-child{
	background-color: #F8CBADFF;
}
.second_row th :focus{
	background: #08eccef3;
	transition: all 0.1s linear 0s;
}
.second_row th .focused:not(:focus) {
	background-color: #E6FFFAFF;
	transition: 900ms;
  }

.valueOfTable{
	width: 70px;
	height: 20px;
	text-align: center;
	border: none;
	background-color: #E6FFFAFF;
}

.body_end_button{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.end_button{
	padding: 5px;
	border-radius: 5px; 
	border: 2px solid #E0EAEAFF;
	background-color: #F4FEF4FF;
	color: #8E8E8EF3;
	font-size: 16px;
	cursor: pointer;
	transition: 1s;
}
.end_button:hover{
	background-color: rgb(233, 233, 233);
	transition: 0.2s;
	box-shadow: 0 0 0 2px rgb(233, 233, 233) inset, 0 0 0 4px white inset;
}

#b1{
	visibility: hidden;
	outline: none;
	border: 0;
}
.bDelCol{
	width: 70px;
	border: none;
	cursor: pointer;
	transition: 1s;
	outline: none;
	font-weight: 700;
	height: 20px;
}
.bDelCol:hover{
	background-color: #c41313a1;
	transition: 0.2s;
}

@media screen and (max-width: 620px){
/* 	.bDelCol{
		width: 35px;
	}
	.valueOfTable{
		width: 35px;
		font-size: 12px;
	}
	table{
		width: min-content;
		font-size: 12px;
	} */
	header{
		width: auto;
		font-size: 14px;
	}
	.modals_header{
		font-size: 21px;
	}
}
