{% extends 'base.html' %}

{% block content %}
	<div class="inner">
		<header><b>{{name}}, заполните таблицу переходов-выходов автомата по заданной схеме, удалите недостижимые состояния</b></header>

		<div class="wrapper">
			<canvas class="canvas" width="500px" height="270px"></canvas>
			<div class="wrapper__el">
				<img class="draw-img" src="static/images/draw.png" alt="">
				<img class="clear-img" src="static/images/clear.png" alt="">
				<button class="clearAll-btn">Очистить</button>
			</div>
		</div>

		<form id="form" action="{{task_id}}/send/solution/">
			<div class="body_table">
				<table>
					<tbody>
						<!-- Здесь сформируется таблица -->
					</tbody>
				</table>
			</div>
			<input type="text" name="answer" value="0" style="display: none;"></p>	<!-- ******************** -->
			<div class="body_end_button">
				<button class="end_button" type="submit" title="Отправить ответ на платформу">Отправить ответ</button>
			</div>
		</form>
	</div>
	{{super()}}
{% endblock %}





